body {
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
	height: 100vh;
	z-index: 1;
}

#title {
	position: absolute;
	top: -10px;
	right: 28%;
	left: 28%;
	color: white;
	outline-style: double;
	outline-color: rgba(0,0,0,0.5);
	text-align: center;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: rgba(255,255,255,0.4);
	z-index: 2;
}

.legend {
	background-color: rgba(0,0,0,0.5);
	border-radius: 3px;
	bottom: 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 10px;
	position: absolute;
	right: 10px;
	z-index: 800;
}

	.legend h4 {
		margin: 0 0 10px;
	}

	.legend div span {
		border-radius: 50%;
		display: inline-block;
		height: 15px;
		margin-right: 5px;
		width: 15px;
	}
/* ÄNDRA FÄRGEN FÖR EN VISS ART HÄR, ÄNDRA INTE ALPHA VÄRDET '0.8' OCH ALLT SOM HAR MED DEN ARTEN KOMMER ÄNDRAS FÖR HELA DOKUMENTET :D */
.radjur {
	background-color: rgba(162, 65, 7, 0.8);
}

.kantareller {
	background-color: rgba(239, 232, 62, 0.8);
}

.trattisar {
	background-color: rgba(210, 144, 67, 0.8);
}
